* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Sono", sans-serif;
}
body {
  background: #e5e5e5;
}
.pass {
  text-align: center;
  margin-top: 8rem;
  align-self: center;
}
form {
  background: #ffffff;
  box-shadow: 3px -5px 40px rgba(205, 205, 212, 0.1);
  border-radius: 20px;
  padding: 20px;
  width: 650px;
  height: 444px;
  /* margin: 0 auto; */
}
.forms {
  /* align-self: center; */
  margin-left: 24rem;
}
form input {
  margin-top: 4rem;
  padding: 4px;
  background: #ffffff;
  border-radius: 5px;
  width: 447px;
  height: 40px;
}
.opps {
  /* font-size: 24px; */
  font-weight: 700;
  font-size: 30px;
  line-height: 55px;
  letter-spacing: -0.04em;
  color: #213f7d;
}
form p {
  margin-top: 2rem;
}
button {
  text-transform: uppercase;
  background: #39cdcc;
  border-radius: 8px;
  width: 447px;
  height: 48px;
  margin-top: 2rem;
  color: #ffffff;
  border: none;
  margin-top: 2rem;
}
