* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Sono", sans-serif;
}
body {
  background: #e5e5e5;
}
header {
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.text {
  text-transform: uppercase;
  margin-left: 0.8rem;
  font-size: 27px;
  color: #030026;
  font-weight: 700;
}
.register {
  display: flex;
  justify-content: space-evenly;
}
.register-left {
  flex: 50%;
  padding: 40px;
}
.desc-container {
  text-align: center;
  margin: 0 auto;
}
.register-right {
  flex: 50%;
  padding: 40px;
}
.form-container {
  background: #ffffff;
  box-shadow: 3px -5px 40px rgba(205, 205, 212, 0.1);
  border-radius: 20px;
  padding: 30px;
  height: 444px;
  margin: 0 auto;
}
.perc h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.perc p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  opacity: 0.4;
}
.burn a {
  color: white;
}
.burn {
  margin-top: 2rem;
  background: #053582;
  border-radius: 10px;
  padding: 13px 23px;
  border: none;
  cursor: pointer;
  color: white;
}
.info h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #393939;
}
.info p {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.003em;
  color: #404040;
}
input {
  border: 1px solid #e2e2ea;
  border-radius: 10px;
  padding: 12px;
  width: 516px;
}
.form-shit {
  margin-top: 2rem;
}
.in-zayn {
  text-align: right;
  margin-top: 1.4rem;
}
.reefer {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.get-btn {
  background: #053582;
  border-radius: 10px;
  padding: 13px 23px;
  color: #ffffff;
  border: none;
}
/* .get-btn a{
  color: white;
} */
